<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="ConnectionString" value="Server=localhost;Database=MyDB;User Id=myuser;Password=mypassword;" />
		<add key="LogLevel" value="Debug"/>
		<add key="koko" value="1234"/>
		
	</appSettings>

	<connectionStrings>
		<add name="MyDbConnection" 
			 connectionString="Server=localhost;Database=MyDB2;User Id=koko;Password=koko1234123412341;" 
			 providerName="System.Data.SqlClient"/>
		
	</connectionStrings>

	<windows>
		
	</windows>
	
	
</configuration>